@font-face {
	font-family: repfont;
	src: url("fonts/Eligible-Bold.ttf");
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url("img_css/rep-b2.jpg");
}

header {
	width: 100%;
	text-align: center;
	border-bottom: 5px solid  #333;
	background-repeat: no-repeat;
	background-size: cover;
}

article {
	font-family: repfont;
	color: white;
	border: 3px solid #333;
	border-radius: 25px;
	margin-top: 10px;
	margin-left: 20px; 
	margin-right: 20px;
	margin-bottom: 10px;
	padding: 10px 10px 10px 10px;
}

.portada {
	width: 20%;
	height: 30%;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 3px solid #333;
	border-radius: 25px;
}




